@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400");

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #F4DBD9;
}

header{
   background: white;
   padding: 20px;
}


header  >  h1 {
   color: #24272E;
   text-align:  center;
   font-family: 'Grandstander', cursive;
}

.score-board {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 4px;
  width:  200px;
  text-align: center;
  padding: 15px 20px;
  color:  white;
  font-size: 46px;
  font-family: 'Grandstander', cursive;
  position:relative;
}

.badge{
  background: #EB5794;
  color: white;
  font-size: 14px;
  padding:  2px 18px;
  font-family: 'Grandstander', cursive;
}

#user-label {
  position: absolute;
  top:  38px;
  left: -25px;
}

#computer-label {
  position: absolute;
  top:  38px;
  right: -30px;
}

.result{
  font-size: 40px;
  color:  white;
}

.result > p {
  text-align: center;
  font-weight:bold;
  font-family: 'Grandstander', cursive;
}
.choices  {
  margin-top: 50px 0;
  text-align: center;
}

.choice {
  border: 4px solid white;
  border-radius: 50%;
  padding: 10px;
  margin: 0 20px;
  display: inline-block;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background: #EB5794;

}

#action-message {
  text-align: center;
  color:  white;
  font-family:  'Grandstander', cursive;
  font-weight:  bold;
  font-size:  20px;
  margin-top: 15px;
}

.green-glow{
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
}

.red-glow{
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}
.yellow-glow{
  border: 4px solid #ebd234;
  box-shadow: 0 0 10px #f5d925;
}
